.messages {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: none;
}
.chatpage{
  background-image: url("../chat-bg.png");

  height: 100%;
  width: 100%;

  background-position: center;
  background-size: cover;
}
.textbox{
  width: 100%;
}
.emoji{
 position: relative;

}
 
.emoji-picker-react{
  position: absolute;
  top:-465px;
 }